{% extends 'base.html' %}


{% block title %}About | MAGENTA{% endblock title %}


{% block body %}

	<div class="loader">
		<div class="loading">
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
		</div>
	</div>
<div class="wrapper-hidden z-index-100" id="main-wrapper">

<main>
    <!-- [3] Page-Header -->
	<header class="page-header parallax-window bg_img dark_overlay" data-src="static/media/IMG_2684.jpg">
		<div class="container breadcrumbs-wrapper">
			<div class="breadcrumbs d-flex flex-column justify-content-center">
				<h1 class="title">About Us</h1>
				<div>
					<ul class="breadcrumbs-list d-flex">
						<li>
							<a href="/">Home</a>
						</li>
						<!-- <li>
							<a href="#">About Us</a>
						</li> -->
						<li>
							<a href="about">About Us</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</header>
    <!-- [4] Icon-Section -->
	<section class="creative-about white-section">
		<div class="container-fluid">
			<div class="icon-boxes-type-4 row d-flex justify-content-center">
				<div class="col-md-4 icon-box-wrapper large-section dark_overlay bg_img"
				     data-aos="zoom-in"
				     data-aos-anchor-placement="top-bottom"
				     data-aos-delay="100"
				     data-aos-duration="500"
				     data-aos-easing="ease-in-out"
				     style="background-image: url('static/media/IMG_2668.jpg')">
					<div class="icon-box d-flex flex-column align-items-center"
					     data-aos="fade-up"
					     data-aos-anchor-placement="top-bottom"
					     data-aos-delay="200"
					     data-aos-duration="800"
					     data-aos-easing="ease-in-out">
						<i class="icon far fa-lightbulb"></i>
						<h4 class="icon-title">Idea</h4>
						<p class="icon-text">The microfinance industry has emerged as an important player 
							in the financial inclusion landscape, providing access to credit and other financial
							 services to underserved communities and individuals. The Company, engaged in the business 
							 of microfinance, aims to provide affordable and innovative financial products and 
							 services to poor households in rural areas whose income is under ₹ 300,000.
						</p>
					</div>
				</div>
				<div class="col-md-4 icon-box-wrapper large-section dark_overlay bg_img"
				     data-aos="zoom-in"
				     data-aos-anchor-placement="top-bottom"
				     data-aos-delay="150"
				     data-aos-duration="500"
				     data-aos-easing="ease-in-out"
				     style="background-image: url('static/media/hero-bg2.jpg')">
					<div class="icon-box active d-flex flex-column align-items-center"
					     data-aos="fade-up"
					     data-aos-anchor-placement="top-bottom"
					     data-aos-delay="250"
					     data-aos-duration="800"
					     data-aos-easing="ease-in-out">
						<i class="icon far fa-comment-alt"></i>
						<h4 class="icon-title">Plan</h4>
						<p class="icon-text">The Company has a strong focus on social impact and aims to promote
							 entrepreneurship and self-employment opportunities through its financial products and services. 
							 Its loan products are designed to cater to the diverse needs of its customers,
							  including income-generating activities, agriculture, education, and health. 
							  The Company also provides financial education and training to its customers to 
							  promote financial literacy and entrepreneurship.
						</p>
					</div>
				</div>
				<div class="col-md-4 icon-box-wrapper large-section dark_overlay bg_img"
				     data-aos="zoom-in"
				     data-aos-anchor-placement="top-bottom"
				     data-aos-delay="200"
				     data-aos-duration="500"
				     data-aos-easing="ease-in-out"
				     style="background-image: url('static/media/IMG-20210730-WA0104.jpg')">
					<div class="icon-box d-flex flex-column align-items-center"
					     data-aos="fade-up"
					     data-aos-anchor-placement="top-bottom"
					     data-aos-delay="300"
					     data-aos-duration="800"
					     data-aos-easing="ease-in-out">
						<i class="icon far fa-user-circle"></i>
						<h4 class="icon-title">Realization</h4>
						<p class="icon-text">Magenta follows JLG model for its operations, wherein the borrowers 
							are organized into groups of 8-10 members and minimum three groups are required to constitute a Centre.
							 Magenta provides loans of up to ₹ 70,000 to individual members in the group (JLG).
							  Magenta’s target segment comprises rural women from low-income families who come 
							  from poor/moderately poor income households.
						</p>
					</div>
				</div>
			</div>
		</div>
	</section>
    <!-- [6] Only Background -->
	<section class="simple-background parallax-window" data-speed="0.4" data-src="static/media/sies.jpg">sies
	
	</section>
    <!-- [7] Tabs Section -->
	<section class="tabs-section-type-2 tabs-creative large-section gray-section bg-attachment-fixed bg_img"
    style="background-image: url('static/media/joe.jpg')">
       <div class="container">
          <div class="row">
              <div class="col d-flex justify-content-center">
                  <h2 class="section-title text-center title-divider"
                      data-aos="fade-up"
                      data-aos-anchor-placement="top-bottom"
                      data-aos-delay="100"
                      data-aos-duration="700"
                      data-aos-easing="ease-in-out">The Company
                             <span class="highlight">.</span>
                  </h2>
              </div>
          </div>
       </div>
    <div class="container">
       <div class="row">    
           <div class="col-lg-6 img-wrapper"
                data-aos="fade-right"
                data-aos-anchor-placement="top-bottom"
                data-aos-delay="100"
                data-aos-duration="600"
                data-aos-easing="ease-in-out">
               <img alt="" class="img-fluid" src="static/media/about1.png">
           </div>
           <div class="col-lg-6 content-side"
                data-aos="fade-left"
                data-aos-anchor-placement="top-bottom"
                data-aos-delay="200"
                data-aos-duration="600"
                data-aos-easing="ease-in-out">
           <div class="tabs-section-type-2">
               <div class="container">
                   <div class="tabs-wrapper">
                       <div class="row">
                           <div class="col tabs-header d-flex justify-content-center">
                               <div class="tab-trigger-wrapper">
                                   <div class="tab-trigger active" data-tab=".tab-body-6">
                                       <i class="fa fa-th"></i>
                                       <h6>Licence</h6>
                                   </div>
                               </div>
                               <div class="tab-trigger-wrapper">
                                   <div class="tab-trigger" data-tab=".tab-body-7">
                                       <i class="fa fa-tint"></i>
                                       <h6>Why</h6>
                                   </div>
                               </div>
                               <div class="tab-trigger-wrapper">
                                   <div class="tab-trigger" data-tab=".tab-body-8">
                                       <i class="fa fa-terminal"></i>
                                       <h6>Association</h6>
                                   </div>
                               </div>
                               <div class="tab-trigger-wrapper">
                                   <div class="tab-trigger" data-tab=".tab-body-9">
                                       <i class="fa fa-chart-pie"></i>
                                       <h6>Process</h6>
                                   </div>
                               </div>
                           </div>
                       </div>
                       <div class="tabs-body-wrapper">
                           <div class="tab-body tab-body-6 active-body">
                               <div class="row">
                                   <p class="description"><b>Magenta Finance Services Private Limited (MAGENTA) 
                                                          is a private limited company.
                                                          MAGENTA is a company limited by shares formed to engage
                                                          in the business of microfinance as permitted by RBI under 
                                                          the NBFC- MFI category. MAGENTA received NBFC-MFI license 
                                                          from RBI on 10th November 2017. 
                                                          MAGENTA is promoted by a foreign firm namely Nellcome Ltd.(Holding Company).
                                                          </p>
                                </div>
                           </div>
                           <div class="tab-body tab-body-7">
                               <div class="row">
                                   <p class="description"><b>The necessity of starting an NBFC-MFI is attributed primarily
                                                          to bring necessary professional and regulatory framework to 
                                                          rapidly scale up microfinance operations.
                                                          It allows the entity to raise equity from the commercial 
                                                          and impact investors and also assist the Board to raise 
                                                          funds from the commercial loan market.</b></p>
                               </div>
                           </div>
                           <div class="tab-body tab-body-8">
                               <div class="row">
                                   <p class="description"><b>Magenta is a member of Microfinance Institutions Network 
                                                          (MFIN) which is a Self-Regulatory Organization 
                                                          - an apex Body nominated by the RBI to oversee MFIs.
                                                          Magenta’s target segment comprises rural women from 
                                                          low-income families who come from poor/moderately poor 
                                                          income households.</b></p>
                               </div>
                           </div>
                           <div class="tab-body tab-body-9">
                               <div class="row">
                                   <p class="description"><b>Magenta follows JLG model for its operations, wherein 
                                                          the borrowers are organized into groups of 8-10 members
                                                          and minimum three groups are required to constitute a Centre.
                                                          Magenta provides loans of up to ₹ 70,000 to individual members
                                                          in the group (JLG)</b></p>
                                   </div>
                               </div>
                            </div>
                       </div>
                   </div>
               </div>
           </div>
       </div>
    </div>
    </section>
<!-- [8] Two Side Section -->
	<section class="about-two-side-content">
		<div class="container-fluid">
			<div class="row">
				<div class="col-lg-6 image-wrapper parallax-window default_overlay"
				     data-speed="0.6" data-src="static/media/about_nelcome1.jpg"></div>
				<div class="col-lg-6 black-section content-side">
					<div class="content-wrapper">
						<h3 class="title"
						    data-aos="zoom-in"
						    data-aos-anchor-placement="top-bottom"
						    data-aos-delay="100"
						    data-aos-duration="600"
						    data-aos-easing="ease-in-out">Nellcome Ltd, Holding Company</h3>
						<div class="row">
							<div class="col-md-6"
							     data-aos="fade-up"
							     data-aos-anchor-placement="top-bottom"
							     data-aos-delay="100"
							     data-aos-duration="600"
							     data-aos-easing="ease-in-out">
								<div class="content">
									<h6><i class="fa fa-cog"></i>We are</h6>
									<p>Nellcome Ltd. is the holding company, established in 25th January 1995 
                                        at Isle of Man, Europe.</p>
								</div>
							</div>
                            <div class="col-md-6"
							     data-aos="fade-up"
							     data-aos-anchor-placement="top-bottom"
							     data-aos-delay="200"
							     data-aos-duration="600"
							     data-aos-easing="ease-in-out">
								<div class="content">
									<h6><i class="fa fa-star"></i>Our Mission</h6>
									<p>The Group is committed to socially responsible and environmentally-friendly business 
                                        activities throughout its operations.</p>
								</div>
							</div>
							<div class="col-md-6"
							     data-aos="fade-up"
							     data-aos-anchor-placement="top-bottom"
							     data-aos-delay="150"
							     data-aos-duration="600"
							     data-aos-easing="ease-in-out">
								<div class="content">
									<h6><i class="fa fa-bookmark"></i>Our Approach</h6>
									<p>The company is interested in all kinds of businesses and has invested across
                                         countries in several entities which have been working in the domain of second-hand clothes 
                                         selling business along with the sourcing and selling of solar panels.
                                         <a href="https://nellcome.com/">Website</a> 
                                         </p>
								</div>
							</div>
							
							<div class="col-md-6"
							     data-aos="fade-up"
							     data-aos-anchor-placement="top-bottom"
							     data-aos-delay="250"
							     data-aos-duration="600"
							     data-aos-easing="ease-in-out">
								<div class="content">
									<h6><i class="fa fa-comments"></i>Our Solutions</h6>
									<p>The main business line today is the importing, sorting and selling of Second-Hand Clothes.
                                         Second Hand Clothes business add value to clothes that would otherwise end up as waste. 
                                         The main products during the past few years have been machinery and 
                                         equipment for sorting of Second-Hand Clothes and Solar Panels.</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
    
</div> 
</main>


{% endblock %}
