{% extends 'base.html' %}

{% block title %}Our Business Model | MAGENTA{% endblock title %}

{% block body %}
<div class="wrapper-hidden z-index-100" id="main-wrapper">
<!-- [3] Page-Header -->

    <header class="page-header parallax-window bg_img dark_overlay"
        data-src="static/media/NP_Himachal_Pradesh_68_6348260166.jpg">
        <div class="container breadcrumbs-wrapper">
            <div class="breadcrumbs d-flex flex-column justify-content-center">
                <h1 class="title">Our Business Models</h1>
                <div>
                    <ul class="breadcrumbs-list d-flex">
                        <li>
                            <a href="/">Home</a>
                        </li>
                        <li>
                            <a href="ourbusinessmodel">Our Business Model</a>
                        </li>
                        
                    </ul>
                </div>
            </div>
        </div>
    </header>

<section>
    <div class="container">
       
            <div class="col d-flex justify-content-center">
                <h2 class="section-title text-center title-divider">
                    Our Business Model
                    <span class="highlight">.</span>
                </h2>
            </div>
        
            <div class="col d-flex justify-content-center" >
                <p>
                    We work with women from rural and semi-urban areas. We focus on providing financial 
                    support to those poor women who are not able to take benefits of the Banking system.
                    Our  financial support is in the form of small loans to these poor women, so that they
                    can start or expand simple business and increase their income.
                </p>
            </div>

    </div>
</section>
<section class="element-section white-section">
    <div class="container">
        <h6 class="black-element-title element-title">Process</h6>
        <div class="accordion-type-1">
            <div class="row">
                <div class="col accordion-column">
                    <div class="accordion-wrapper">
                        <div class="accordion active-accordion">
                            <p class="accordion-header">Purpose of Loan</p>
                            <div class="accordion-body">
                                <p>Income generating, Agriculture allied and non- farm activities</p>
                            </div>
                        </div>
                        <div class="accordion">
                            <p class="accordion-header">Customer Age</p>
                            <div class="accordion-body">
                                <p>18-58 Years</p>
                            </div>
                        </div>
                        <div class="accordion">
                            <p class="accordion-header">Credit Bureau</p>
                            <div class="accordion-body">
                                <p>Equifax/Highmark or others </p>
                            </div>
                        </div>
                        <div class="accordion">
                            <p class="accordion-header">Eligibility Criteria of Credit Bureau</p>
                            <div class="accordion-body">
                                <p>Not more than 1 NBFC-MFI lending
                                    Loan outstanding not exceed 1,00,000
                                    No overdue of any NBFC-MFI/Bank </p>
                            </div>
                        </div>
                        <div class="accordion">
                            <p class="accordion-header">Maximum Household Annual Income</p>
                            <div class="accordion-body">
                                <p>Rural Areas – 1,00,000,
                                    Urban & semi urban Areas – 1,60,000 </p>
                            </div>
                        </div>
                        <div class="accordion">
                            <p class="accordion-header">Loan Size</p>
                            <div class="accordion-body">
                                <p>Rs. 20,000/- to Rs. 30,000/- (First Cycle)
                                    Up to 50,000/- (Second Cycle)</p>
                            </div>
                        </div>
                        <div class="accordion">
                            <p class="accordion-header">Interest Rate</p>
                            <div class="accordion-body">
                                <p>As per RBI guideline</p>
                            </div>
                        </div>
                        <div class="accordion">
                            <p class="accordion-header">Loan Processing fee</p>
                            <div class="accordion-body">
                                <p>1% of the loan amount + GST </p>
                            </div>
                        </div>
                        <div class="accordion">
                            <p class="accordion-header">Insurance fee</p>
                            <div class="accordion-body">
                                <p>As per policy </p>
                            </div>
                        </div>
                        <div class="accordion">
                            <p class="accordion-header">Loan tenure</p>
                            <div class="accordion-body">
                                <p>12 Months (Loans up to Rs. 30,000) and for above Rs. 30,000/-24 Months</p>
                            </div>
                        </div>
                        <div class="accordion">
                            <p class="accordion-header">Instalments Days</p>
                            <div class="accordion-body">
                                <p>28 Days </p>
                            </div>
                        </div>
                        <div class="accordion">
                            <p class="accordion-header">Insurance coverage</p>
                            <div class="accordion-body">
                                <p>	Member and her nominee during loan tenure</p>
                            </div>
                        </div>
                        <div class="accordion">
                            <p class="accordion-header">JLG formation</p>
                            <div class="accordion-body">
                                <p>5-8 members</p>
                            </div>
                        </div>
                        <div class="accordion">
                            <p class="accordion-header">Center Meeting Formation</p>
                            <div class="accordion-body">
                                <p>Minimum 10 members</p>
                            </div>
                        </div>
                        <div class="accordion">
                            <p class="accordion-header">Trainings for group</p>
                            <div class="accordion-body">
                                <p>	3 Day CGT and 1 Day GRT, CGT stands for Compulsory Group Training and GRT stands for Group
                                    Recognition Test
                                </p>
                            </div>
                        </div>
                        <div class="accordion">
                            <p class="accordion-header">Field Staff Household Visits for group</p>
                            <div class="accordion-body">
                                <p>100% household verification of members</p>
                            </div>
                        </div>
                        <div class="accordion">
                            <p class="accordion-header">Pre-Closer</p>
                            <div class="accordion-body">
                                <p>	Allowed without any penalty and interest</p>
                            </div>
                        </div>
                        <div class="accordion">
                            <p class="accordion-header">Delayed Payment</p>
                            <div class="accordion-body">
                                <p>Penality as per RBI Guidelines </p>
                            </div>
                        </div>
                        <div class="accordion">
                            <p class="accordion-header">Disbursements</p>
                            <div class="accordion-body">
                                <p>Non cash mode and in special cases cash disbursement is allowed after prior approval of MD/CEO/ person nominated by MD</p>
                            </div>
                        </div>
                        <div class="accordion">
                            <p class="accordion-header">Collection Process</p>
                            <div class="accordion-body">
                                <p>Centre deposit their repayment to field executive</p>
                            </div>
                        </div>
                        <div class="accordion">
                            <p class="accordion-header">Radius of branch operation</p>
                            <div class="accordion-body">
                                <p>20 KM (for above approval will be taken from COO/MD)</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- <section>
    <div class="container-fluid">

        <div class="row">
            <div class="col-sm-6">


            </div>
            <div class="col-sm-6">    
                <div class="accordion"  id="accordionExample">
                    <div class="accordion-item">
                      <h2 class="accordion-header" id="headingOne">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                          Accordion Item #1
                        </button>
                      </h2>
                      <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                          <strong>This is the first item's accordion body.</strong> It is shown by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                        </div>
                      </div>
                    </div>
                    
                    <div class="accordion-item">
                      <h2 class="accordion-header" id="headingTwo">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                          Accordion Item #2
                        </button>
                      </h2>
                      <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                          <strong>This is the second item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                        </div>
                      </div>
                    </div>
                    
                    <div class="accordion-item">
                      <h2 class="accordion-header" id="headingThree">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                          Accordion Item #3
                        </button>
                      </h2>
                      <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                          <strong>This is the third item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                        </div>
                      </div>
                    </div>
                    
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingFour">
                          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                            Accordion Item #4
                          </button>
                        </h2>
                        <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
                          <div class="accordion-body">
                            <strong>This is the third item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                          </div>
                        </div>
                    </div>
                    
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingFive">
                          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                            Accordion Item #5
                          </button>
                        </h2>
                        <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive" data-bs-parent="#accordionExample">
                          <div class="accordion-body">
                            <strong>This is the third item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                          </div>
                        </div>
                    </div>
                    
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingSix">
                          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                            Accordion Item #6
                          </button>
                        </h2>
                        <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix" data-bs-parent="#accordionExample">
                          <div class="accordion-body">
                            <strong>This is the third item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                          </div>
                        </div>
                    </div>
                     
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingSeven">
                          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                            Accordion Item #7
                          </button>
                        </h2>
                        <div id="collapseSeven" class="accordion-collapse collapse" aria-labelledby="headingSeven" data-bs-parent="#accordionExample">
                          <div class="accordion-body">
                            <strong>This is the third item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                          </div>
                        </div>
                    </div>
                      
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingEight">
                          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
                            Accordion Item #8
                          </button>
                        </h2>
                        <div id="collapseEight" class="accordion-collapse collapse" aria-labelledby="headingEight" data-bs-parent="#accordionExample">
                          <div class="accordion-body">
                            <strong>This is the third item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                          </div>
                        </div>
                    </div>
                     
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingNine">
                          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseNine" aria-expanded="false" aria-controls="collapseNine">
                            Accordion Item #9
                          </button>
                        </h2>
                        <div id="collapseNine" class="accordion-collapse collapse" aria-labelledby="headingNine" data-bs-parent="#accordionExample">
                          <div class="accordion-body">
                            <strong>This is the third item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                          </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
            

        
        

    </div>

</section> -->
<!-- <main>
    <section class="section-base section-color">
        <div class="container">
            <div class="row">

                <div class="col-lg-8">
                    <h3>Our Business Model</h3>
                    <p>
                        We work with women from rural and semi-urban areas. We focus on providing financial support to those poor women who are not able to take benefits of the Banking system.
                        Our  financial support is in the form of small loans to these poor women, so that they can start or expand simple business and increase their income.
                    </p>
                    <hr class="space" />
                    <h3>Our process</h3>
                    <hr class="space-sm" />
                    <div class="box-steps">
                        <div class="step-item">
                            <span>1</span>
                            <div class="content">
                                <h3>Client Sourcing</h3>
                                <div>
                                    <p>
                                        Group Formation meeting, We enquire about Clients financial needs.  
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="step-item">
                            <span>2</span>
                            <div class="content">
                                <h3>Credit Bureau</h3>
                                <div>
                                    <p>
                                        Data collected in previous stage are shared with Credit Bureaus and based on result and
                                        as per RBI recent guidlines, clients are told about their eligibilty.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="step-item">
                            <span>3</span>
                            <div class="content">
                                <h3>Compulsory Group Training</h3>
                                <div>
                                    <p>
                                        Passed clients are given 3 day training in which we tell them about Interest Rate,
                                        Loan Processing fee, Insurance fee, Loan tenure, Instalments etc. 
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="step-item">
                            <span>4</span>
                            <div class="content">
                                <h3>Group Recognition Test</h3>
                                <div>
                                    <p>
                                        
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="step-item">
                            <span>5</span>
                            <div class="content">
                                <h3>Sanction and Disbursement</h3>
                                <div>
                                    <p>
                                        Ostreta ipsum dolor sit amet  elitsedero do artifico.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="step-item">
                            <span>6</span>
                            <div class="content">
                                <h3>Collection, Pre closer and Delay Penality </h3>
                                <div>
                                    <p>
                                        Ostreta ipsum dolor sit amet consecteture artifico.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr class="space" />
                    <h3>Analysis charts</h3>
                    <hr class="space-sm" />
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="progress-bar">
                                <h4>Returning customers</h4>
                                <div>
                                    <div data-progress="95">
                                        <span class="counter" data-to="95" data-speed="2000" data-unit="%">70%</span>
                                    </div>
                                </div>
                            </div>
                            <hr class="space-sm" />
                            <div class="progress-bar">
                                <h4>Success rate</h4>
                                <div>
                                    <div data-progress="95">
                                        <span class="counter" data-to="95" data-speed="2000" data-unit="%">95%</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="progress-bar">
                                <h4>Success rate</h4>
                                <div>
                                    <div data-progress="95">
                                        <span class="counter" data-to="95" data-speed="2000" data-unit="%">95%</span>
                                    </div>
                                </div>
                            </div>
                            <hr class="space-sm" />
                            <div class="progress-bar">
                                <h4>Completed projects</h4>
                                <div>
                                    <div data-progress="85">
                                        <span class="counter" data-to="85" data-speed="2000" data-unit="%">85%</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr class="space" />
                    <h3>Analysis charts</h3>
                    <hr class="space-sm" />
                    <div class="grid-list" data-columns="3" data-columns-lg="2" data-columns-sm="2"  data-columns-xs="1">
                        <div class="grid-box">
                            <div class="grid-item">
                                <div class="icon-box icon-box-left">
                                    <i class="im-pen"></i>
                                    <div class="caption">
                                        <h3>Regulated</h3>
                                        <p>Officially certified</p>
                                    </div>
                                </div>
                            </div>
                            <div class="grid-item">
                                <div class="icon-box icon-box-left">
                                    <i class="im-security-camera"></i>
                                    <div class="caption">
                                        <h3>Secure</h3>
                                        <p>Total secuirity</p>
                                    </div>
                                </div>
                            </div>
                            <div class="grid-item">
                                <div class="icon-box icon-box-left">
                                    <i class="im-gears"></i>
                                    <div class="caption">
                                        <h3>Top hardware</h3>
                                        <p>Built from scratch</p>
                                    </div>
                                </div>
                            </div>
                            <div class="grid-item">
                                <div class="icon-box icon-box-left">
                                    <i class="im-data-refresh"></i>
                                    <div class="caption">
                                        <h3>Updated</h3>
                                        <p>Two times per day</p>
                                    </div>
                                </div>
                            </div>
                            <div class="grid-item">
                                <div class="icon-box icon-box-left">
                                    <i class="im-support"></i>
                                    <div class="caption">
                                        <h3>Your support</h3>
                                        <p>Dedicated support</p>
                                    </div>
                                </div>
                            </div>
                            <div class="grid-item">
                                <div class="icon-box icon-box-left">
                                    <i class="im-coins"></i>
                                    <div class="caption">
                                        <h3>Money back</h3>
                                        <p>Fully guaranted</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <hr class="space visible-sm" />
                    <div class="fixed-area" data-offset="80">
                        <div class="menu-inner menu-inner-vertical boxed-area">
                            <ul>
                                <li><a href="service-1.html">Security audits</a></li>
                                <li class="active"><a href="service-2.html">Artificial intelligence</a></li>
                                <li><a href="service-3.html">Bots and support</a></li>
                                <li><a href="#">Financial advises</a></li>
                            </ul>
                        </div>
                        <hr class="space-sm" />
                        <div class="boxed-area light">
                            <ul class="text-list text-list-bold">
                                <li><b>Address:</b><p>139 Baker St, E17PT, London</p></li>
                                <li><b>Email:</b><p>support@example.com</p></li>
                                <li><b>Phone line:</b><p>(02) 123 333 444</p></li>
                                <li><b>Opening hours</b><p>8am-5pm Mon - Fri</p></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main> -->
</div>


{% endblock %}