{% extends 'base.html' %}

{% block title %}Our Product | MAGENTA{% endblock title %}

{% block body %}
<div class="wrapper-hidden z-index-100" id="main-wrapper">
    <!-- [3] Page-Header -->
	<header class="page-header parallax-window bg_img dark_overlay"
    data-src="static/media/front-sec2-bg.jpg">
       <div class="container breadcrumbs-wrapper">
           <div class="breadcrumbs d-flex flex-column justify-content-center">
               <h1 class="title">Our Products</h1>
               <div>
                   <ul class="breadcrumbs-list d-flex">
                       <li>
                           <a href="/">Home</a>
                       </li>
                       <li>
                           <a href="ourproduct">Our Products</a>
                       </li>
                       
                   </ul>
               </div>
           </div>
       </div>
    </header>

    <!-- [5] Call to action -->
	<section class="call-to-action-type-1 white-section bg-attachment-fixed small-section bg_img border-top-simple"
    style="background-image: url('assets/img/assets/axiom-pattern.png')">
            <div class="container">
            <div class="row">
                <div class="col">
                    <h2 class="title">
                        Features of Our Products
                    </h2>
                     
                    <div class="row">
                                <div class="col-sm-4">
                                <li class="message">
                                    MFSPL offers small loans to women in between ₹ 20,000 to ₹ 50,000 to provide support for 
                                    income generation activities as per RBI Guidelines. It operates on Joint Liability Group 
                                    (JLG) lending model wherein a group of individual women come together to borrow from MFSPL.
                                    They share responsibilities and guarantee each other’s loans. Each group comprises of 8 -10 female members.
                                    Loans are not usually offered for housing or personal consumption.
                                
                                </li>
                                <li class="message">
                                    MFSPL is a member of four credit bureaus Equifax, CIBIL, CRIF Highmark and Experian
                                </li>
                                </div>
                                <div class="col-sm-4">
                                    <li class="message">
                                        Poor downtrodden women with family income of ₹ 1,00,000 p.a. in rural & ₹ 1,60,000 p.a.
                                        in urban areas are the set standards for being eligible for loans.
                                    </li>
                                    <li class="message">
                                        The typical JLG customers are economically backward unskilled women in the 
                                        age group of 18 – 58 years who have no source of regular income/ employment and 
                                        are deprived of any kind of financial assistance by the Banks. The target 
                                        customers are those who are able and willing to engage themselves in some 
                                        income generating activities which would bring in some income to sustain their
                                        family and repay the instalments.
                                    </li>
                                </div>
                                <div class="col-sm-4">
                                    <li class="message">
                                        Under its own portfolio, presently MFSPL offers only one loan product of amount
                                        ranging from ₹ 20,000 to ₹ 50,000 with tenure of 12 months to 24 months and with
                                        repayment cycle of 28 days
                                    </li>
                                    <li class="message">
                                        MFSPL offers loans for various activities like income generation, agriculture allied
                                        and nonfarm activities.
                                    </li>
                                    <li class="message">
                                        Company has tie up with Pramerica Life Insurance Limited for providing insurance 
                                        solutions to the customers
                                    </li>
                                    
                                    </div>


                    </div>
                    <div class="button-wrapper d-flex justify-content-center">
                        <a class="button-default-color-2" href="#">Coming up with new Products</a>
                    </div>
                </div>
            </div>
            </div>
    </section>
   
</div>
{% endblock %}